page-home {

	canvas {
		width:100%;
		padding-top: 6rem;
	}

	.examens-list-button {
		width:4rem;
		height:4rem;
		position:absolute;
		top: 1rem;
		left: 1rem;
	}

	.download-button {
		width:4rem;
		height:4rem;
		position:absolute;
		top: 1rem;
		right: 1rem;
	}

}
